In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/imdb-top-1000/imdb-top-1000 (1).csv

In [2]:
df=pd.read_csv('/kaggle/input/imdb-top-1000/imdb-top-1000 (1).csv')

In [3]:
df.head()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0

## data from a url

In [4]:
df1=pd.read_csv('https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv')

In [5]:
df1.head()

    Country  Region
0   Algeria  AFRICA
1    Angola  AFRICA
2     Benin  AFRICA
3  Botswana  AFRICA
4   Burkina  AFRICA

# for data with tab separated value -> pd.read_csv('',sep='\t')

# if there are no column name-> pd.read_csv('',names=['col1name','col2name'....])

# to make any column the index column -> pd.read_csv('',index_col='col_name')

# if column names are in data 1 row -> pd.read_csv('',header=1)

# if all columns are not required

In [6]:
selected_columns=pd.read_csv('/kaggle/input/imdb-top-1000/imdb-top-1000 (1).csv',usecols=['Series_Title','Released_Year'])
selected_columns.head()

               Series_Title Released_Year
0  The Shawshank Redemption          1994
1             The Godfather          1972
2           The Dark Knight          2008
3    The Godfather: Part II          1974
4              12 Angry Men          1957

# limited rows

In [7]:
pd.read_csv('/kaggle/input/imdb-top-1000/imdb-top-1000 (1).csv',usecols=['Series_Title','Released_Year'],nrows=100)

                Series_Title  Released_Year
0   The Shawshank Redemption           1994
1              The Godfather           1972
2            The Dark Knight           2008
3     The Godfather: Part II           1974
4               12 Angry Men           1957
..                       ...            ...
95                    Amélie           2001
96                    Snatch           2000
97       Requiem for a Dream           2000
98           American Beauty           1999
99         Good Will Hunting           1997

[100 rows x 2 columns]

# skipping some rows

In [8]:
pd.read_csv('/kaggle/input/imdb-top-1000/imdb-top-1000 (1).csv',skiprows=[0,1])

,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
0,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
1,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
2,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0
3,The Lord of the Rings: The Return of the King,2003,201,Action,8.9,Peter Jackson,Elijah Wood,1642758,377845905.0,94.0
4,Pulp Fiction,1994,154,Crime,8.9,Quentin Tarantino,John Travolta,1826188,107928762.0,94.0
...,...,...,...,...,...,...,...,...,...,...
993,Breakfast at Tiffany's,1961,115,Comedy,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0
994,Giant,1956,201,Drama,7.6,George Stevens,Elizabeth Taylor,34075,195217415.0,84.0
995,From Here to Eternity,1953,118,Drama,7.6,Fred Zinnemann,Burt Lancaster,43374,30500000.0,85.0
996,Lifeboat,1944,97,Drama,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
997,The 39 Steps,1935,86,Crime,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0

In [9]:
pd.read_csv('/kaggle/input/imdb-top-1000/imdb-top-1000 (1).csv',skiprows=lambda x:x%2==0)

,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
0,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
1,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0
2,Pulp Fiction,1994,154,Crime,8.9,Quentin Tarantino,John Travolta,1826188,107928762.0,94.0
3,Inception,2010,148,Action,8.8,Christopher Nolan,Leonardo DiCaprio,2067042,292576195.0,74.0
4,The Lord of the Rings: The Fellowship of the Ring,2001,178,Action,8.8,Peter Jackson,Elijah Wood,1661481,315544750.0,92.0
...,...,...,...,...,...,...,...,...,...,...
494,Giù la testa,1971,157,Drama,7.6,Sergio Leone,Rod Steiger,30144,696690.0,77.0
495,The Jungle Book,1967,78,Animation,7.6,Wolfgang Reitherman,Phil Harris,166409,141843612.0,65.0
496,A Hard Day's Night,1964,87,Comedy,7.6,Richard Lester,John Lennon,40351,13780024.0,96.0
497,Giant,1956,201,Drama,7.6,George Stevens,Elizabeth Taylor,34075,195217415.0,84.0
498,Lifeboat,1944,97,Drama,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0

# if data is diffrent from default encoding (utf-8) -> pd.read_csv('',encoding='latin-1')

# if some rows has more or less data than no of columns-> pd.read_csv('',skip_bad_lines=False)

# to change datatype of column-> pd.read_csv('',dtype={'colname':int})

# if column has date/time values-> pd.read_csv('',parse_dates=['colname'])

# Converters

In [18]:
def rename(x):
    if x=='Crime':
        return 'Murder'
    else:
        return x

In [19]:
rename('Crime')

'Murder'

In [23]:
pd.read_csv('/kaggle/input/imdb-top-1000/imdb-top-1000 (1).csv',converters={'Genre':rename})

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Murder,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Murder,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Murder,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0
...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,115,Comedy,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0
996,Giant,1956,201,Drama,7.6,George Stevens,Elizabeth Taylor,34075,195217415.0,84.0
997,From Here to Eternity,1953,118,Drama,7.6,Fred Zinnemann,Burt Lancaster,43374,30500000.0,85.0
998,Lifeboat,1944,97,Drama,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
999,The 39 Steps,1935,86,Murder,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0

# if some values are placed as nan values in data

In [25]:
pd.read_csv('/kaggle/input/imdb-top-1000/imdb-top-1000 (1).csv',na_values=['Crime'])

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,NaN,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,NaN,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,NaN,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0
...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,115,Comedy,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0
996,Giant,1956,201,Drama,7.6,George Stevens,Elizabeth Taylor,34075,195217415.0,84.0
997,From Here to Eternity,1953,118,Drama,7.6,Fred Zinnemann,Burt Lancaster,43374,30500000.0,85.0
998,Lifeboat,1944,97,Drama,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
999,The 39 Steps,1935,86,NaN,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0

# Loading data in chunks

In [30]:
dfs=pd.read_csv('/kaggle/input/imdb-top-1000/imdb-top-1000 (1).csv',chunksize=50)

In [31]:
for chunk in dfs:
    print(chunk.shape)

(50, 10)
(50, 10)
(50, 10)
(50, 10)
(50, 10)
(50, 10)
(50, 10)
(50, 10)
(50, 10)
(50, 10)
(50, 10)
(50, 10)
(50, 10)
(50, 10)
(50, 10)
(50, 10)
(50, 10)
(50, 10)
(50, 10)
(50, 10)